Memora.BackEnd/.vs
Memora.BackEnd/Memora.BackEnd.Services/obj
Memora.BackEnd/Memora.BackEnd.Services/bin
Memora.BackEnd/Memora.BackEnd.Repositories/obj
Memora.BackEnd/Memora.BackEnd.Repositories/bin
Memora.BackEnd/Memora.BackEnd.Api/obj
Memora.BackEnd/Memora.BackEnd.Api/bin
